<div class="container">
    <div class="row">
        <h1>Editing Todo</h1>
        <hr>
        <%= render 'form', todo: @todo %>
        <hr>
        <%= link_to 'Back', todos_path, class: "btn btn-warning" %>
    </div>
</div>